.cart-summary-container {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 12px;
}

.cart-summary-heading {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 16px;
  margin-bottom: 2px;
}

@media screen and (min-width: 768px) {
  .cart-summary-heading {
    font-size: 32px;
  }
}

.order {
  color: #616e7c;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .order {
    font-size: 24px;
  }
}

.cart-summary-para {
  color: #616e7c;
  font-family: 'Roboto';
  font-size: 12px;
  margin-top: 2px;
}

@media screen and (min-width: 768px) {
  .cart-summary-para {
    font-size: 16px;
  }
}

.checkout-button {
  background-color: #0b69ff;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12px;
  border: none;
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 8px;
  margin-bottom: 8px;
  outline: none;
  cursor: pointer;
}
